In [28]:
import pandas as pd
import sqlite3

In [17]:
import pandas as pd

# Load the two CSV files into DataFrames
file1 = 'merchants_sg_emails.csv'  # Replace with the path to your first CSV file
file2 = 'ModifiedSGRestaurants.csv'  # Replace with the path to your second CSV file

df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

# Append the DataFrames
appended_df = pd.concat([df1, df2], ignore_index=True)

# Save the appended DataFrame to a new CSV file
output_file = 'merchants_sg_emails_updated.csv'  # Replace with the desired output file path
appended_df.to_csv(output_file, index=False)

print(f"Appended file saved to {output_file}")

Appended file saved to merchants_sg_emails_updated.csv

In [29]:
# Step 1: CSV file path
csv_file = 'real data.csv'  # Replace with your CSV file name or path

# Step 2: Read CSV file using pandas
df = pd.read_csv(csv_file)

df.head()

,merchant_name,merchant_category,merchant_address,nearest_city,merchant_street,city,merchant_postal_code,country_code,merchant_phone_number,google_review_score,...,merchant_website,merchant_email,merchant_social_media,source,Recent_review,Cuisine_Type,Menu,Cost_per_two,Operating_Hours,Storelocations
0,CHAGEE Singapore,Food and Beverage,"154 West Coast Road, #02-01 West Coast Plaza S...",Clementi,West Coast Road,Singapore,127371,SG,400-878-8359,4.3,...,https://sgmyfoodie.com/chagee-menu-singapore/,lawrence.wen@chagee.com,https://www.instagram.com/chagee.sg/,APOLLO,A customer mentioned that the staff is friendl...,"Bubble Tea, Fruit Tea, Dessert","Fresh Milk Teas: Tie Guan Yin Latte, Da Hong P...",Approximately S$5 - S$10 per person,Daily from 10:00 AM to 9:30 PM,11
1,Perfer,Food and Beverage,47 Hong San Walk Choa Chu Kang 689038,Choa Chu Kang,Hong San Walk,Singapore,689038,SG,+65 8904 3661,4.0,...,https://cnalifestyle.channelnewsasia.com/dinin...,jake@prefer.bio,https://www.instagram.com/prefercoffeesg/,APOLLO,Bean-free coffee? Coffee enthusiasts might bal...,specializes in coffee products and equipment.,"Prefer oat milk latte, Latte, Espresso",Approximately S$5 - S$10 per person,Daily from 10:00 AM to 9:30 PM,14
2,TimHortons,Food and Beverage,"1 HarbourFront Walk, #01-207 VivoCity, Singapore",HarbourFront,HarbourFront Walk,Singapore,98585,SG,6531655325,4.0,...,https://www.instagram.com/timhortonssg/,vpunj@whopper.com,https://www.instagram.com/timhortonssg/,APOLLO,It is known to use 100% Premium Arabica beans ...,"Coffeehouse offering beverages, baked goods, a...","Beverages: Signature coffees, lattes (e.g., Ma...","Approximately S$20 to S$30,",8am - 11pm,11
3,Grain,Food and Beverage,"5 Burn Road, #05-01, Tee Yih Jia Food Building...",NaN,Burn Road,Singapore,369972,SG,6531635335,4.3,...,https://grain.com.sg/,sung@grain.com.sg,NaN,APOLLO,Delivery on time and always enough portion to ...,Grain offers a variety of meals on demand and ...,Online food ordering and catering services,NaN,"Lunch: 10:30AM to 1:30PM, Dinner 5:30pm to 7:30pm",operates primarily through online platforms
4,Paris Baguette,Food and Beverage,"16 Tai Seng Street, #01-01/02, Singapore",Tai Seng Street,Tai Seng Street,Singapore,534138,SG,6531645334,4.2,...,https://www.parisbaguette.com.sg/,daphne.wong@parisbaguette.com.sg,https://www.instagram.com/parisbaguette_sg/,APOLLO,Indulge in a lazy afternoon with its brunch it...,Bakery and caf offering French-inspired baked ...,"artisanal pastries, cakes, salads, sandwiches,...",Approximately S$20 to S$40,8am-10pm,12

In [30]:
df['Region'] = 'Singapore'

In [31]:
df.head(2)

,merchant_name,merchant_category,merchant_address,nearest_city,merchant_street,city,merchant_postal_code,country_code,merchant_phone_number,google_review_score,...,merchant_email,merchant_social_media,source,Recent_review,Cuisine_Type,Menu,Cost_per_two,Operating_Hours,Storelocations,Region
0,CHAGEE Singapore,Food and Beverage,"154 West Coast Road, #02-01 West Coast Plaza S...",Clementi,West Coast Road,Singapore,127371,SG,400-878-8359,4.3,...,lawrence.wen@chagee.com,https://www.instagram.com/chagee.sg/,APOLLO,A customer mentioned that the staff is friendl...,"Bubble Tea, Fruit Tea, Dessert","Fresh Milk Teas: Tie Guan Yin Latte, Da Hong P...",Approximately S$5 - S$10 per person,Daily from 10:00 AM to 9:30 PM,11,Singapore
1,Perfer,Food and Beverage,47 Hong San Walk Choa Chu Kang 689038,Choa Chu Kang,Hong San Walk,Singapore,689038,SG,+65 8904 3661,4.0,...,jake@prefer.bio,https://www.instagram.com/prefercoffeesg/,APOLLO,Bean-free coffee? Coffee enthusiasts might bal...,specializes in coffee products and equipment.,"Prefer oat milk latte, Latte, Espresso",Approximately S$5 - S$10 per person,Daily from 10:00 AM to 9:30 PM,14,Singapore

In [6]:
# Step 1: Clean column names by replacing spaces with underscores
df.columns = df.columns.str.replace(' ', '_').str.replace(r'\W', '', regex=True)

In [32]:
df.head(2)

,merchant_name,merchant_category,merchant_address,nearest_city,merchant_street,city,merchant_postal_code,country_code,merchant_phone_number,google_review_score,...,merchant_email,merchant_social_media,source,Recent_review,Cuisine_Type,Menu,Cost_per_two,Operating_Hours,Storelocations,Region
0,CHAGEE Singapore,Food and Beverage,"154 West Coast Road, #02-01 West Coast Plaza S...",Clementi,West Coast Road,Singapore,127371,SG,400-878-8359,4.3,...,lawrence.wen@chagee.com,https://www.instagram.com/chagee.sg/,APOLLO,A customer mentioned that the staff is friendl...,"Bubble Tea, Fruit Tea, Dessert","Fresh Milk Teas: Tie Guan Yin Latte, Da Hong P...",Approximately S$5 - S$10 per person,Daily from 10:00 AM to 9:30 PM,11,Singapore
1,Perfer,Food and Beverage,47 Hong San Walk Choa Chu Kang 689038,Choa Chu Kang,Hong San Walk,Singapore,689038,SG,+65 8904 3661,4.0,...,jake@prefer.bio,https://www.instagram.com/prefercoffeesg/,APOLLO,Bean-free coffee? Coffee enthusiasts might bal...,specializes in coffee products and equipment.,"Prefer oat milk latte, Latte, Espresso",Approximately S$5 - S$10 per person,Daily from 10:00 AM to 9:30 PM,14,Singapore

In [33]:
df.columns

Index(['merchant_name', 'merchant_category', 'merchant_address',
       'nearest_city', 'merchant_street', 'city', 'merchant_postal_code',
       'country_code', 'merchant_phone_number', 'google_review_score',
       'google_review_count', 'url', 'merchant_website', 'merchant_email',
       'merchant_social_media', 'source', 'Recent_review', 'Cuisine_Type',
       'Menu', 'Cost_per_two', 'Operating_Hours', 'Storelocations', 'Region'],
      dtype='object')

In [8]:
df['Restaurant_Name'].nunique()

155

In [9]:
# Extract the first word from the 'Restaurant_Name' column and append '@gmail.com'
df['Email'] = df['Restaurant_Name'].str.split().str[0] + '@gmail.com'

# Display the updated dataframe
df.head()

,Position,Promotion,Discount_Offer,Restaurant_Name,Rating,Cuisines,Cost_for_Two,Location,Distance,Restaurant_URL,Image_URL,Zomato_Gold_Image,Region,Email
0,1,Promoted,Flat 20% OFF,Korma Sutra - Restaurant & Cafe,4.6,"Indian, Asian, Turkish, Italian, Continental, BBQ",AED 180 for two,"Al Barsha, Dubai",2.3 km,https://www.zomato.com/dubai/korma-sutra-resta...,https://b.zmtcdn.com/data/pictures/6/21040866/...,https://b.zmtcdn.com/data/o2_assets/9b1ff9e19b...,Dubai,Korma@gmail.com
1,2,Promoted,Flat 20% OFF,Orientale,4.6,"Chinese, Sushi, Thai, Asian",AED 145 for two,"Al Barsha, Dubai",2.1 km,https://www.zomato.com/dubai/orientale-al-bars...,https://b.zmtcdn.com/data/pictures/0/19728900/...,https://b.zmtcdn.com/data/o2_assets/9b1ff9e19b...,Dubai,Orientale@gmail.com
2,3,Promoted,Flat 20% OFF,Socialicious,4.7,"Cafe, Asian, Thai, Coffee, Beverages",AED 125 for two,"Jumeirah Village, Dubai",7 km,https://www.zomato.com/socialicious/info,https://b.zmtcdn.com/data/pictures/8/18598678/...,https://b.zmtcdn.com/data/o2_assets/9b1ff9e19b...,Dubai,Socialicious@gmail.com
3,4,Promoted,Flat 10% OFF,Nine Squares Restaurant,4.6,"Hot Pot, Chinese, Asian",AED 150 for two,"Umm Suqeim, Dubai",4.8 km,https://www.zomato.com/dubai/nine-squares-rest...,https://b.zmtcdn.com/data/pictures/4/19483264/...,https://b.zmtcdn.com/data/o2_assets/9b1ff9e19b...,Dubai,Nine@gmail.com
4,5,Promoted,Flat 10% OFF,Wafi Gourmet,3.5,"Lebanese, Arabian, Middle Eastern, Kebab",AED 295 for two,"Sunset Mall, Jumeirah 3, Dubai",6.3 km,https://www.zomato.com/dubai/wafi-gourmet-jume...,https://b.zmtcdn.com/data/pictures/3/20107813/...,https://b.zmtcdn.com/data/o2_assets/9b1ff9e19b...,Dubai,Wafi@gmail.com

In [34]:
df.head(2)

,merchant_name,merchant_category,merchant_address,nearest_city,merchant_street,city,merchant_postal_code,country_code,merchant_phone_number,google_review_score,...,merchant_email,merchant_social_media,source,Recent_review,Cuisine_Type,Menu,Cost_per_two,Operating_Hours,Storelocations,Region
0,CHAGEE Singapore,Food and Beverage,"154 West Coast Road, #02-01 West Coast Plaza S...",Clementi,West Coast Road,Singapore,127371,SG,400-878-8359,4.3,...,lawrence.wen@chagee.com,https://www.instagram.com/chagee.sg/,APOLLO,A customer mentioned that the staff is friendl...,"Bubble Tea, Fruit Tea, Dessert","Fresh Milk Teas: Tie Guan Yin Latte, Da Hong P...",Approximately S$5 - S$10 per person,Daily from 10:00 AM to 9:30 PM,11,Singapore
1,Perfer,Food and Beverage,47 Hong San Walk Choa Chu Kang 689038,Choa Chu Kang,Hong San Walk,Singapore,689038,SG,+65 8904 3661,4.0,...,jake@prefer.bio,https://www.instagram.com/prefercoffeesg/,APOLLO,Bean-free coffee? Coffee enthusiasts might bal...,specializes in coffee products and equipment.,"Prefer oat milk latte, Latte, Espresso",Approximately S$5 - S$10 per person,Daily from 10:00 AM to 9:30 PM,14,Singapore

In [11]:
df.to_csv('Merchants updated.csv', index=False)

In [17]:
# Step 3: Connect to SQLite Database (this creates the file if it doesn't exist)
db_name = 'merchant_data_singapore.db'  # SQLite database name
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

# Step 4: Create the table (only run this once; otherwise, comment this part)
create_table_query = """
CREATE TABLE IF NOT EXISTS merchants (
    Position INTEGER,
    Promotion TEXT,
    Discount_Offer TEXT,
    Restaurant_Name TEXT,
    Rating REAL,
    Cuisines TEXT,
    Cost_for_Two TEXT,
    Location TEXT,
    Distance TEXT,
    Restaurant_URL TEXT,
    Region TEXT,
    Image_URL TEXT,
    Zomato_Gold_Image TEXT,
    Email TEXT
);
"""
cursor.execute(create_table_query)

# Step 5: Insert data into the table
# Use pandas to_sql function to insert the data into the database
df.to_sql('merchants', conn, if_exists='append', index=False)

# Step 6: Verify data insertion (Optional)
print("Data inserted successfully!")
query = "SELECT * FROM merchants LIMIT 5;"
for row in cursor.execute(query):
    print(row)

# Step 7: Close connection
conn.commit()
conn.close()

OperationalError: table merchants has no column named merchant_name

In [37]:
# Step 2: Connect to SQLite Database
db_name = 'merchant_data_singapore_dummy.db'  # SQLite database name
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

# Step 3: Create the table (only run this once; otherwise, comment this part)
create_table_query = """
CREATE TABLE IF NOT EXISTS merchants (
    merchant_name TEXT,
    merchant_category TEXT,
    merchant_address TEXT,
    nearest_city TEXT,
    merchant_street TEXT,
    city TEXT,
    merchant_postal_code REAL,
    country_code TEXT,
    merchant_phone_number TEXT,
    google_review_score REAL,
    google_review_count INTEGER,
    url TEXT,
    merchant_website TEXT,
    merchant_email TEXT,
    merchant_social_media TEXT,
    source TEXT,
    Region TEXT
);
"""
cursor.execute(create_table_query)

# Step 4: Insert data into the table
df.to_sql('merchants', conn, if_exists='append', index=False)

# Step 5: Verify data insertion (Optional)
print("Data inserted successfully!")
query = "SELECT * FROM merchants LIMIT 5;"
for row in cursor.execute(query):
    print(row)

# Step 6: Close connection
conn.commit()
conn.close()

Data inserted successfully!
('Mereesha Pulse Bakes', 'Beverage supplier', '119 Defu Lane 10, Singapore 539230', 'Hougang', '119 Defu Lane 10', 'Singapore', 539230.0, 'SG', '+65 6285 6488', 3.6, 10, 'https://www.google.com/maps/search/?api=1&query=Chia%20Khim%20Lee%20Food%20Industries%20Pte%20Ltd&query_place_id=ChIJnfFkQ8gX2jERZ_iL4672zQM', 'https://chiakhimlee.com', 'mereesha@pulseid.com', 'Not available', 'google_map_result', 'Singapore')
('Shadeer Pulse Bakes', 'Food processing company', '6 Senoko S Rd, Singapore 758070', 'Sembawang', '6 Senoko S Rd', 'Singapore', 758070.0, 'SG', '+65 6759 0988', 4.3, 3, 'https://www.google.com/maps/search/?api=1&query=Chop%20Hup%20Chong%20Food%20Industries%20Pte%20Ltd&query_place_id=ChIJYXmMDEIT2jERPjFWxlvgvlI', 'https://www.chophupchong.com.sg', 'shadeer@pulseid.com', 'https://www.instagram.com/hupchong/?hl=en', 'google_map_result', 'Singapore')
('Jayan Pulse Bakes', 'Food and beverage consultant', '151 Lorong Chuan, Lobby, G, #03-07A New Tech Park, Singapore 556741', 'Serangoon', '151 Lorong Chuan, Lobby, G, #03-07A New Tech Park', 'Singapore', 556741.0, 'SG', '+65 6509 0777', None, 0, 'https://www.google.com/maps/search/?api=1&query=SF%20Group%20Ltd&query_place_id=ChIJ357lJRUX2jERyo_GrQoFAiA', 'https://sfgroup.com.sg', 'jayan@pulseid.com', 'Not available', 'google_map_result', 'Singapore')
('Hansa Pulse Bakes', 'Food products supplier', '7 Toh Tuck Link, Singapore 596227', 'Clementi', '7 Toh Tuck Link', 'Singapore', 596227.0, 'SG', '+65 6258 3744', 5.0, 6, 'https://www.google.com/maps/search/?api=1&query=H.%20L.%20Yong%20Company%20(Pte)%20Ltd&query_place_id=ChIJfaG91j0X2jERpCV801KqPUE', 'https://www.hlyong.com', 'hansa@pulseid.com', 'https://www.instagram.com/hlyongco/', 'google_map_result', 'Singapore')

In [32]:
# Step 2: Connect to SQLite Database
db_name = 'merchant_data_singapore.db'  # SQLite database name
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

# Step 3: Create the table (only run this once; otherwise, comment this part)
create_table_query = """
CREATE TABLE IF NOT EXISTS merchants (
    title TEXT,
    totalScore REAL,
    reviewsCount INTEGER,
    street TEXT,
    url TEXT,
    imageUrl TEXT,
    address TEXT,
    city TEXT,
    website TEXT,
    postalCode REAL,
    email TEXT,
    social_media TEXT,
    Region TEXT
);
"""
cursor.execute(create_table_query)

# Step 4: Insert data into the table
df.to_sql('merchants', conn, if_exists='append', index=False)

# Step 5: Verify data insertion (Optional)
print("Data inserted successfully!")
query = "SELECT * FROM merchants LIMIT 5;"
for row in cursor.execute(query):
    print(row)

# Step 6: Close connection
conn.commit()
conn.close()

Data inserted successfully!
('Chia Khim Lee Food Industries Pte Ltd', 3.6, 10, '119 Defu Lane 10', 'https://www.google.com/maps/search/?api=1&query=Chia%20Khim%20Lee%20Food%20Industries%20Pte%20Ltd&query_place_id=ChIJnfFkQ8gX2jERZ_iL4672zQM', 'https://lh5.googleusercontent.com/p/AF1QipPYuuS7AL23OY8T95ReKfEFz9WAKZfa3Tprk3V4=w408-h725-k-no', '119 Defu Lane 10, Singapore 539230', 'Singapore', 'https://chiakhimlee.com/', 539230.0, 'enquiry@cklfi.com.sg', 'Not available', 'Singapore')
('Pau (F&B) Holdingd Pte Ltd', None, 0, '90 Hougang Ave 10', 'https://www.google.com/maps/search/?api=1&query=Pau%20(F%26B)%20Holdingd%20Pte%20Ltd&query_place_id=ChIJe3fjgjcW2jERIL3rJg-csVk', 'https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=y6jJbln45OVD2vI2L_4HuQ&cb_client=search.gws-prod.gps&w=408&h=240&yaw=202.6454&pitch=0&thumbfov=100', '90 Hougang Ave 10, Singapore 538766', 'Singapore', None, 538766.0, None, None, 'Singapore')
('Food & Beverage Connections (Singapore) Pte Ltd', 5.0, 1, '27 Bukit Manis Rd, #01-00 Sentosa Golf Club', 'https://www.google.com/maps/search/?api=1&query=Food%20%26%20Beverage%20Connections%20(Singapore)%20Pte%20Ltd&query_place_id=ChIJQbelKbAe2jERxnQU6yI_c-Q', 'https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=pOsFF_2ryWSI_WEbG_TrjA&cb_client=search.gws-prod.gps&w=408&h=240&yaw=126.61063&pitch=0&thumbfov=100', '27 Bukit Manis Rd, #01-00 Sentosa Golf Club, Singapore 099892', 'Singapore', None, 99892.0, 'Not available', 'Not available', 'Singapore')
('Eclectique F&B Concepts', 5.0, 1, '51 Ubi Ave 1, #05-11', 'https://www.google.com/maps/search/?api=1&query=Eclectique%20F%26B%20Concepts&query_place_id=ChIJ0YCIHJUZ2jERnuwW3b4wShg', 'https://lh5.googleusercontent.com/p/AF1QipPyT7bgWP1VVaoD89by3gqLrim6BWp4Ombxmd35=w408-h574-k-no', '51 Ubi Ave 1, #05-11, Singapore 408933', 'Singapore', 'http://www.eclectiqueconcepts.com/', 408933.0, 'Not available', 'https://sg.linkedin.com/company/eclectique-f-b-concepts', 'Singapore')
('Chop Hup Chong Food Industries Pte Ltd', 4.3, 3, '6 Senoko S Rd', 'https://www.google.com/maps/search/?api=1&query=Chop%20Hup%20Chong%20Food%20Industries%20Pte%20Ltd&query_place_id=ChIJYXmMDEIT2jERPjFWxlvgvlI', 'https://lh5.googleusercontent.com/p/AF1QipP4w9HnFeyhIIcHJOdlru1uPRQ3ricK-1W7qJNa=w408-h306-k-no', '6 Senoko S Rd, Singapore 758070', 'Singapore', 'http://www.chophupchong.com.sg/', 758070.0, 'enquiry@chophupchong.com.sg', 'https://www.instagram.com/hupchong/?hl=en', 'Singapore')

In [35]:
df.columns

Index(['merchant_name', 'merchant_category', 'merchant_address',
       'nearest_city', 'merchant_street', 'city', 'merchant_postal_code',
       'country_code', 'merchant_phone_number', 'google_review_score',
       'google_review_count', 'url', 'merchant_website', 'merchant_email',
       'merchant_social_media', 'source', 'Recent_review', 'Cuisine_Type',
       'Menu', 'Cost_per_two', 'Operating_Hours', 'Storelocations', 'Region'],
      dtype='object')

In [36]:
# Step 2: Connect to SQLite Database
db_name = 'merchant_data_singapore_real.db'  # SQLite database name
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

# Step 3: Create the table (only run this once; otherwise, comment this part)
create_table_query = """
CREATE TABLE IF NOT EXISTS merchants (
    merchant_name TEXT,
    merchant_category TEXT,
    merchant_address TEXT,
    nearest_city TEXT,
    merchant_street TEXT,
    city TEXT,
    merchant_postal_code REAL,
    country_code TEXT,
    merchant_phone_number TEXT,
    google_review_score REAL,
    google_review_count INTEGER,
    url TEXT,
    merchant_website TEXT,
    merchant_email TEXT,
    merchant_social_media TEXT,
    source TEXT,
    Recent_review TEXT,
    Cuisine_Type TEXT,
    Menu TEXT,
    Cost_per_two TEXT,
    Operating_Hours TEXT,
    Storelocations TEXT,
    Region TEXT
);
"""
cursor.execute(create_table_query)

# Step 4: Insert data into the table
df.to_sql('merchants', conn, if_exists='append', index=False)

# Step 5: Verify data insertion (Optional)
print("Data inserted successfully!")
query = "SELECT * FROM merchants LIMIT 5;"
for row in cursor.execute(query):
    print(row)

# Step 6: Close connection
conn.commit()
conn.close()

Data inserted successfully!
('CHAGEE Singapore', 'Food and Beverage', '154 West Coast Road, #02-01 West Coast Plaza Singapore', 'Clementi', 'West Coast Road', 'Singapore', 127371.0, 'SG', '400-878-8359', 4.3, 15, 'https://sgmyfoodie.com/chagee-menu-singapore/', 'https://sgmyfoodie.com/chagee-menu-singapore/', 'lawrence.wen@chagee.com', 'https://www.instagram.com/chagee.sg/', 'APOLLO', 'A customer mentioned that the staff is friendly and knowledgeable, recommending the White Peach Oolong Latte as a must-try', 'Bubble Tea, Fruit Tea, Dessert ', 'Fresh Milk Teas: Tie Guan Yin Latte, Da Hong Pao Latte, White Peach Oolong Latte, Cold Brew Teas: Cold Brew Tie Guan Yin Tea, Oriental Beauty, Fresh Fruit Teas: CHAGEE Signature Fruit Tea, Fresh Passion Fruit Da Hong Pao, Fresh Brews: Glutinous Green Tea, Da Hong Pao', 'Approximately S$5 - S$10 per person', 'Daily from 10:00 AM to 9:30 PM', '11', 'Singapore')
('Perfer', 'Food and Beverage', '47 Hong San Walk Choa Chu Kang 689038', 'Choa Chu Kang', 'Hong San Walk', 'Singapore', 689038.0, 'SG', '+65 8904 3661', 4.0, 20, 'https://cnalifestyle.channelnewsasia.com/dining/prefer-bean-free-coffee-alternative-381681', 'https://cnalifestyle.channelnewsasia.com/dining/prefer-bean-free-coffee-alternative-381681', 'jake@prefer.bio', 'https://www.instagram.com/prefercoffeesg/', 'APOLLO', 'Bean-free coffee? Coffee enthusiasts might balk at the idea, but thereâ€™s a good reason to launch their own beanless coffee brand, Prefer', 'specializes in coffee products and equipment.', 'Prefer oat milk latte, Latte, Espresso', 'Approximately S$5 - S$10 per person', 'Daily from 10:00 AM to 9:30 PM', '14', 'Singapore')
('TimHortons', 'Food and Beverage', '1 HarbourFront Walk, #01-207 VivoCity, Singapore', ' HarbourFront', ' HarbourFront Walk', 'Singapore', 98585.0, 'SG', '6531655325', 4.0, 2, 'https://www.instagram.com/timhortonssg/', 'https://www.instagram.com/timhortonssg/', 'vpunj@whopper.com', 'https://www.instagram.com/timhortonssg/', 'APOLLO', 'It is known to use 100% Premium Arabica beans that are responsibly sourced. ', 'Coffeehouse offering beverages, baked goods, and light meals', 'Beverages: Signature coffees, lattes (e.g., Maple Cinnamon Latte), Iced Capps, and teas, Baked Goods: Donuts (e.g., Maple Salted Caramel Donut), Timbits (bite-sized donuts), cakes, and tarts., Savoury Items: Sourdough melts with fillings like Maple Glazed Chicken Ham & Cheese and Truffle Mushroom.', 'Approximately S$20 to S$30,', '8am - 11pm', '11', 'Singapore')
('Grain', 'Food and Beverage', '5 Burn Road, #05-01, Tee Yih Jia Food Building, Singapore', None, 'Burn Road', 'Singapore', 369972.0, 'SG', '6531635335', 4.3, 205, 'https://grain.com.sg/', 'https://grain.com.sg/', 'sung@grain.com.sg', None, 'APOLLO', 'Delivery on time and always enough portion to feed everyone. Generally taste good for every dishes and most of the dishes are healthier in general foodline', 'Grain offers a variety of meals on demand and catering options', 'Online food ordering and catering services', None, 'Lunch: 10:30AM to 1:30PM, Dinner 5:30pm to 7:30pm', 'operates primarily through online platforms', 'Singapore')
('Paris Baguette', 'Food and Beverage', '16 Tai Seng Street, #01-01/02, Singapore', 'Tai Seng Street', 'Tai Seng Street', 'Singapore', 534138.0, 'SG', '6531645334', 4.2, 100, 'https://www.parisbaguette.com.sg/', 'https://www.parisbaguette.com.sg/', 'daphne.wong@parisbaguette.com.sg', 'https://www.instagram.com/parisbaguette_sg/', 'APOLLO', 'Indulge in a lazy afternoon with its brunch items, the best seller being the Cheese Omelette With A Difference ($18.00, and what a name). The omelette with spinach, gruyere and feta cheese is quite cheesy and yummy, plain in its own way, and heartily satisfying', 'Bakery and caf offering French-inspired baked goods and light meals', 'artisanal pastries, cakes, salads, sandwiches, and beverages such as coffee and tea', 'Approximately S$20 to S$40', '8am-10pm', '12', 'Singapore')

In [48]:
db_name = 'merchant_data.db'  # SQLite database name
conn = sqlite3.connect(db_name)
cursor = conn.cursor()


cursor.execute(create_table_query)

# Step 5: Insert data into the table
# Use pandas to_sql function to insert the data into the database
df.to_sql('merchants', conn, if_exists='append', index=False)

# Step 6: Verify data insertion (Optional)
print("Data inserted successfully!")
query = "SELECT COUNT(DISTINCT Restaurant_Name) FROM merchants;"
for row in cursor.execute(query):
    print(row)

# Step 7: Close connection
conn.commit()
conn.close()

Data inserted successfully!
(155,)